.gitignore
/.idea/
/.DS_Store
jaar_1/.DS_Store
jaar_1/blok_1/.DS_Store
jaar_1/blok_1/les_en_huiswerkopdrachten/.DS_Store
jaar_1/blok_1/final_assignments/.DS_Store
jaar_1/blok_1/textbook_problems/.DS_Store
jaar_1/blok_2/.DS_Store
jaar_1/blok_3/.DS_Store
jaar_1/blok_3/structured_programming/.DS_Store
jaar_1/blok_2/ai/.DS_Store
jaar_1/blok_1/final_assignments/proja-ns_consumentenzuil/.DS_Store
jaar_1/blok_1/textbook_problems/h2-python_data_types/.DS_Store
jaar_1/blok_1/textbook_problems/h3-python_programmes/.DS_Store