/.idea/
/.DS_Store
Jaar 1/.DS_Store
Jaar 1/Blok 1/.DS_Store
.gitignore
Jaar 1/Blok 1/Les- en Huiswerkopdrachten/.DS_Store
Jaar 1/Blok 1/Final Assignments/.DS_Store
Jaar 1/Blok 1/Textbook Problems/.DS_Store
Jaar 1/Blok 2/.DS_Store
/Jaar 1/Blok 1/
/Jaar 1/Blok 2/
Jaar 1/Blok 3/.DS_Store
Jaar 1/Blok 3/Structured Programming/.DS_Store